.login-background {
    background: linear-gradient(249.86deg, #0F0920 42.5%, #3F2686 138.64%);
}

.login-header {
    box-sizing: border-box;

    position: absolute;
    width: 681px;
    height: 72px;
    left: 94px;
    top: 36px;

    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 50px;
}

.login-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: absolute;
    width: 133px;
    height: 23px;
    left: 136px;
    top: 60.5px;
}

.login-logo-text {
    font-family: 'Trispace';
    font-weight: 700;
    font-size: 20px;
    color: #F2F0FF;
}

.login-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 40px;
    gap: 30px;
}

.login-menu-text {
    flex-grow: 1;
    font-family: 'Trispace';
    font-weight: 700;
    font-size: 15px;
    color: #F2F0FF;
}

.page-description {
    position: absolute;
    font-family: 'Trispace';
    font-size: 45px;
    font-weight: bold;
    width: 600px;
    height: 222px;
    left: 10%;
    top: 20%
}

.page-sub-description {
    position: absolute;
    width: 600px;
    height: 222px;
    font-family: 'Trispace';
    font-size: 20px;
    line-height: 180%;
    left: 10%;
    top: 50%
}

.get-started {
    position: absolute;
    background-color: #0047FF;
    left: 10%;
    bottom: 30%
}

.preview {
    position: absolute;
    width: 33%;
    height: 70%;
    right: 10%;
    top: 15%
}